
.skip-to-main-content-link {
  background: #fff;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  -o-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip-to-main-content-link:focus {
  top:20px;
  color: #000;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}
img{
  width:100px;
 height:100px;
 border: black solid 2px;

/*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
  object-fit:scale-down;
}

header h1{
  text-align: center;
}

.small{
  display: block;
}
  
  
  
.navClass{
    justify-content: space-evenly;
    display: none;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: black;

}
  
.navClass a{
    color:black;
 }

.about{
font-weight: bold;
text-decoration: underline;
border: black solid 2px;
}

.container{
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14% 14%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  grid-gap:5px;
}
.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
  margin-left: 5%;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}



.education{
  grid-column: 1 / span 6;
}

.experience{
  grid-column: 1 / span 6;
}


.skillHeader{
  text-align: center;
  grid-row-start: 4;
  grid-column-start: 4;
  grid-column-end: 6;
}


.skill1{
  grid-row-start: 5;
  grid-column: 3 / span 6;
}
.skill2{
  grid-row-start: 5;
  grid-column: 5 / span 1;
}

.skill5{
  grid-row-start: 6;
  grid-column: 3 / span 1;
}
.skill6{
  grid-row-start: 6;
  grid-column: 5 / span 1;
}
.skill11{
  grid-row-start: 7;
  grid-column: 5 / span 1;
}
.skill7{
  grid-row-start: 7;
  grid-column: 3 / span 1;
}
.skill8{
  grid-row-start: 8;
  grid-column: 3 / span 1;
}
.skill9{
  grid-row-start: 8;
  grid-column: 5 / span 1;
}
.skill4{
  grid-row-start: 9;
  grid-column: 3 / span 1;
}
.skill12{
  grid-row-start: 9;
  grid-column: 5 / span 1;
}
.skill10{
  grid-row-start: 10;
  grid-column: 3 / span 1;
}
.skill3{
  grid-row-start: 10;
  grid-column: 5 / span 1;
}

  

  @media screen and (min-width: 700px) {

    .education{
      grid-column: 1 / span 3;
    }
    
    .experience{
      grid-column: 5 / span 3;
    }
    
    
    .skillHeader{
      text-align: center;
      grid-column-start: 4;
      grid-column-end: 6;
    }
  

    .skill1{
      grid-row-start: 5;
      grid-column: 3 / span 1;
    }
    .skill2{
      grid-row-start: 5;
      grid-column: 5 / span 1;
    }
    
    .skill3{
      grid-row-start: 5;
      grid-column: 7 / span 1;
    }
    .skill5{
      grid-row-start: 6;
      grid-column: 3 / span 1;
    }
    .skill6{
      grid-row-start: 6;
      grid-column: 5 / span 1;
    }

    .skill10{
      grid-row-start: 6;
      grid-column: 7 / span 1;
    }
    .skill11{
      grid-row-start: 7;
      grid-column: 5 / span 1;
    }
    .skill7{
      grid-row-start: 7;
      grid-column: 3 / span 1;
    }

    .skill12{
      grid-row-start: 7;
      grid-column: 7 / span 1;
    }
    .skill8{
      grid-row-start: 5;
      grid-column: 1 / span 1;
    }
    .skill9{
      grid-row-start: 6;
      grid-column: 1 / span 1;
    }
    .skill4{
      grid-row-start: 7;
      grid-column: 1 / span 1;
    }
    
    
    

     
}




@media screen and (min-width: 1000px) {
  .small{
    display: none;
  }
  
  
  
  .navClass{
      justify-content: space-evenly;
      display: flex;
      justify-items: center;
      align-items: center;
      align-content: center;
      color: black;
  
  }
    

    .skill10{
      grid-row-start: 5;
      grid-column: 1 / span 1;
    }
  
    .skill1{
      grid-row-start: 5;
      grid-column: 3 / span 1;
    }
    .skill2{
      grid-row-start: 5;
      grid-column: 5 / span 1;
    }
    .skill3{
      grid-row-start: 5;
      grid-column: 7 / span 1;
    }
    .skill4{
      grid-row-start: 6;
      grid-column: 2 / span 1;
    }
    .skill5{
      grid-row-start: 6;
      grid-column: 4 / span 1;
    }
    .skill6{
      grid-row-start: 6;
      grid-column: 6 / span 1;
    }
    
  
    .skill12{
      grid-row-start: 8;
      grid-column: 4 / span 1;
    }
    .skill11{
      grid-row-start: 7;
      grid-column: 1 / span 1;
    }
    .skill7{
      grid-row-start: 7;
      grid-column: 3 / span 1;
    }
    .skill8{
      grid-row-start: 7;
      grid-column: 5 / span 1;
    }
    .skill9{
      grid-row-start: 7;
      grid-column: 7 / span 1;
    }
   
  
}

@media screen and (min-width: 1300px) {
  .navClass{
      justify-content: space-evenly;
      display: flex;
  }
  
  .experience{
    grid-column: 5 / span 3;
  }
  .skill12{
    grid-row-start: 6;
    grid-column: 8 / span 1;
  }
  

  
 

}
 
  
  